<%- include('../partials/header') %>

<body>

<section id="show-page">
  <div>Stop: </div>
  <div><%= stop.title %></div>
  <div>Date & Time: </div>
  <div><%= stop.dateTime %></div>
  <div>Location: </div>
  <div><%= stop.location %></div>
  <div>Details: </div>
  <div><%= stop.details %></div>
</section>

<%- include('../partials/footer') %>