<%- include('../partials/header') %>

<table id="list" class="table-style">
  <thead class="thead-style">
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if (user) { %>
      <% trips.forEach(function(t) { %>
        <tr class="tr-style">
          <td><%= t.title %></td>
          <td><%= t.startDate %></td>
          <td><%= t.endDate %></td>
          <td><%= t.location %></td>
          <td><a href="/trips/<%= t._id %>" class="link-style">DETAILS</a></td>
          <% if (user?._id.equals(t.user)) { %>
            <form action="/trips/<%= t._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
            </form>
          <% } %>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
      </tbody>
      </table>
      <div>Please Log In to View Your Trips</div>
    <% } %>

  
<%- include('../partials/footer') %>
