<%- include('../partials/header') %>

<body>
<nav id="show-nav">
  <a href="/trips/<%= trip._id %>/stops/new">Add Stop</a>
  <a href="/trips/<%= trip._id %>/arrangements/new">Add a Travel Arragement</a>
  <a href="/trips/<%= trip._id %>/edit">Edit</a>
  <form action="/trips/<%= trip._id %>" method="POST" id="delete-form">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE" onclick="return confirm('Are you sure you want to delete this trip?');">
  </form>
</nav>
<section id="show-page">
  <div>Title: </div>
  <div><%= trip.title %></div>
  <div>Start Date: </div>
  <div><%= trip.startDate %></div>
  <div>End Date: </div>
  <div><%= trip.endDate %></div>
  <div>Location: </div>
  <div><%= trip.location %></div>
  <div>Description: </div>
  <div><%= trip.description %></div>
</section>

<br><br><h2>STOPS</h2>
<% if (stops.length) { %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date & Time</th>
        <th>Location</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% stops.forEach(function(stop) { %>
        <tr>
          <td><%= stop.title %></td>
          <td><%= stop.dateTime %></td>
          <td><%= stop.location %></td>
          <td><%= stop.details %></td>
          <td>
            <form action="/trips/<%= trip._id %>/stops/<%= stop._id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="DELETE" onclick="return confirm('Are you sure you want to delete this stop?');">
            </form>
          </td>          
        </tr>
    <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>NO STOPS YET</h5>
<% } %>

<br><br><h2>ARRANGEMENTS</h2>
<% if (arrangements.length) { %>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Date & Time</th>
        <th>Location</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% arrangements.forEach(function(arrangement) { %>
        <tr>
          <td><%= arrangement.type %></td>
          <td><%= arrangement.dateTime %></td>
          <td><%= arrangement.location %></td>
          <td><%= arrangement.details %></td>
          <td>
            <form action="/trips/<%= trip._id %>/arrangements/<%= arrangement._id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="DELETE" onclick="return confirm('Are you sure you want to delete this arrangement?');">
            </form>
          </td> 
        </tr>
    <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>NO TRAVEL ARRANGEMENTS</h5>
<% } %>

<%- include('../partials/footer') %>